.main {
  display: flex;
  height: 100vh;
}

.layout {
  display: flex;
  width: 100%;
}

.sidebar {
  width: 250px;
  background-color: #9cdcf1; /* Lighter shade of blue background color */
  padding: 20px;
}

.logo {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.logo h5 {
  margin: 0;
  font-size: 24px;
  color: #144c89; /* Darker blue logo text color */
}

.menu-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.menu-item.active {
  background-color: #f3f4f7; /* Light gray active menu item background color */
}

.menu-item i {
  margin-right: 10px;
  color: #144c89; /* Darker blue icon color */
}

.menu-item a {
  color: #000; /* Black menu item text color */
  text-decoration: none;
}

.content {
  flex: 1;
  background-color: #fff;
  padding: 20px;
  overflow-y: auto;
}

.header {
  display: flex;
  align-items: center;
  justify-content: flex-end; /* Align to the top right */
  margin-bottom: 20px;
  padding: 0 20px; /* Add horizontal padding */
}

.header-content {
  display: flex;
  align-items: center;
}

.header-content a {
  margin-left: 20px; /* Adjust margin to create space between elements */
  color: #000; /* Black link text color */
  text-decoration: none;
}

.body {
  overflow-y: auto;
}
